language: python
python:
  - "3.4"
install: pip install --use-mirrors .
before_script:
  - pip install -r tests/requirements.txt --use-mirrors
script:  coverage run --source=twapi_connection setup.py test
after_success:
  - coveralls
