language: python
python:
  - "3.5"
install: pip install .
before_script:
  - pip install -r tests/requirements.txt
script:  coverage run --source=twapi_connection setup.py test
after_success:
  - coveralls
